 <div class="nav-bar-container">

  <!-- BEGIN ICONS -->
  <div class="nav-menu">
    <div class="hamburger">
      <span class="patty"></span>
      <span class="patty"></span>
      <span class="patty"></span>
      <span class="patty"></span>
      <span class="patty"></span>
      <span class="patty"></span>
    </div><!--.hamburger-->
  </div><!--.nav-menu-->

  
  <!-- END OF ICONS -->

  <div class="nav-bar-border"></div><!--.nav-bar-border-->

  <!-- BEGIN OVERLAY HELPERS -->
  <div class="overlay">
    <div class="starting-point">
      <span ></span>
    </div><!--.starting-point-->
    <div class="logo">STORMTEST</div><!--.logo-->
  </div><!--.overlay-->

  <div class="overlay-secondary"></div><!--.overlay-secondary-->
  <!-- END OF OVERLAY HELPERS -->
</div><!--.nav-bar-container-->
